{% extends 'base.html.twig' %}

{% block header_title %}
    <h1 class="text-danger"><span style="color: red;"><span class="glyphicon glyphicon-fire" aria-hidden="true"></span></span> Erreur 404 : Page non trouvée</h1>
{% endblock %}

{% block header_img %} {% endblock %}

{% block body %}
    <h3>Nous n'avons pas trouvé la page que vous tentez d'atteindre.</h3>
    <p>
    	Verifiez votre barre d'adresse, ou rendez vous sur <a href="{{ path('homepage') }}">la page d'accueil</a>.
    </p>
{% endblock %}
